.dockerignore
.git/
.gitattributes
.github/
.editorconfig
.env*
.eslint*
.husky/
.prettier*
codecov.yml
jest*

node_modules/
**/node_modules

*.log
coverage/
.vscode/

*README.md

*Dockerfile
Dockerfile*
docker-compose.yml

infra

dist/
**/dist/

tmp/
*.tsbuildinfo
**/.turbo/