.dockerignore
.git*
.editorconfig
.env*
.eslint*
.prettier*
codecov.yml
jest*

node_modules/

*.log
coverage/
.vscode/

*README.md

*Dockerfile
Dockerfile*
docker-compose.yml

infra

dist/
*/dist/

tmp/