docs/*
old-code
gql-naming-fn.js
cronjobs/*/dist
cronjobs/*/node_modules
dist/*
layers/*
packages/*/dist
packages/gql/src/defs/gql.ts
packages/gql/script/*
packages/semper/*
packages/shared/src/db/migration/*
perftest/**/*.js
*.config.js
*.config.ts
*.test.js
*.test.ts
*.preset.js
**/node_modules