# system files
.idea
.DS_Store
Thumbs.db
.vscode
.dccache

# compiled / dependencies
node_modules
dist
layers
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
!.env
packages/*/.env
packages/*/.env*
.eslintcache
infra/package-lock.json
docs/*
packages/gql/coverage/*

# logs
log-debug
*.log

# others
packages/gql/src/defs/gql.ts
*.zip

tmp/*