# system files
.idea
.DS_Store
Thumbs.db

# compiled / dependencies
node_modules
packages/*/node_modules
!.env
packages/*/.env
packages/*/tsconfig.build.tsbuildinfo
packages/*/dist
.eslintcache
package-lock.json
packages/*/package-lock.json

# logs
log-debug
*.log

# others
packages/gql/src/defs/gql.ts
script/playground.ts
